<h1>Listing elaborations</h1>

<table id="elaborations-table">
  <tr>
    <th>Status</th>
    <th>Difficulty</th>
    <th>Note to self</th>
    <th>Note to instructor</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
</table>

<br/>

<a href="#/new">New Elaboration</a>