<h1>New elaboration</h1>

<form id="new-elaboration" name="elaboration">
  <div class="field">
    <label for="status"> status:</label>
    <input type="text" name="status" id="status" value=<%= status %> >
  </div>

  <div class="field">
    <label for="difficulty"> difficulty:</label>
    <input type="text" name="difficulty" id="difficulty" value=<%= difficulty %> >
  </div>

  <div class="field">
    <label for="note_to_self"> note_to_self:</label>
    <input type="text" name="note_to_self" id="note_to_self" value=<%= note_to_self %> >
  </div>

  <div class="field">
    <label for="note_to_instructor"> note_to_instructor:</label>
    <input type="text" name="note_to_instructor" id="note_to_instructor" value=<%= note_to_instructor %> >
  </div>

  <div class="actions">
    <input type="submit" value="Create Elaboration" />
  </div>

</form>

<a href="#/index">Back</a>