<p>
  <b>Status:</b>
  <%= status %>
</p>

<p>
  <b>Difficulty:</b>
  <%= difficulty %>
</p>

<p>
  <b>Note to self:</b>
  <%= note_to_self %>
</p>

<p>
  <b>Note to instructor:</b>
  <%= note_to_instructor %>
</p>


<a href="#/index">Back</a>