<script type="text/javascript" charset="utf-8">
  
// author the interaction through data structures
question_dir = '<%= @problem.filesPath %>';
stepCount = <%= @problem.step_count %>;
var explanations = new Array(stepCount);
  
explanations[1] = new Array("This has a triple bond and a pair of electrons per Phosphorus. This is because each Phosphorus has 5 valence electrons and shares 3 of those with the other so that they each have a happy 8.");
  
explanations[2] = new Array("The expert is writing out an equation for the experiment, to show the heat released when the bonds are broken.");

explanations[3] = new Array("there are 6 bonds contained in the P4 structure, these must be broken to get to the p2 structure", "they just describe what happens in this reaction using their words like a big boy.","It's showing that if you break P4, you are breaking six single bonds, and the total energy equals the bond energy of a single bond times six." );  
explanations[4] = new Array("the total energy in this equation is equal to bonds formed - bonds broken.  The bonds formed (two triple bonds) minus bonds broken (six single bonds).  This total energy equals the heat released during the reaction (-200).")   

// set up env
currentStep = 0;
currentExplanation = 0;
imageList = stepImages(question_dir, stepCount, extension="<%= @problem.imageType %>");

</script>

<div id="prototype">
  
  <div id="problem">
    
    <img id="work_shown" src=""> <!-- set by Javascript -->
    
  </div>
  
  <div id="prompt" class="right-box">
    <p>Try solving the problem at left on your paper.</p>
    <p>When you click on either of these buttons, you'll see part of an expert's solution to the problem.</p>

    <button id="work_check" class="advance_problem">Check my work</button>
    <button id="work_help" class="advance_problem">Get help</button>
  </div>
  
  <div id="work-check" class="right-box">
    <p>At left is an expert's work.<br>Is your work right?</p>

    <button class="record-check" id="same">Yes and similar.</button><br>
    <button class="record-check" id="different">Yes but different.</button><br>
    <button class="record-check" id="partly">Partly right.</button><br>
    <button class="record-check" id="not">Not at all.</button>
  </div>
  
  <div id="dialog" class="right-box">
    
    <div id="explanations">
      
      <div id="write_explanation" class="dialog_section">
        <p>Why did the expert do this?</p>
        <textarea name="explanation"></textarea>
        <p id="privacy_choice"><input type="checkbox" name="private" id="private" value="check"><label for="private">private</label></p>
    
        <p>How good is your explanation?</p>
        <button class="show_prior">Poor</button>
        <button class="show_prior">Good</button>
        <button class="show_prior">Very good</button>
      </div>
    
      <div id="read_explanations">
        <p id="prior_explanation">&lt;PRIOR EXPLANATION&gt;</p>
        <p class="guidance">Does this help you?
          <button class="thumbs_up"></button><button class="thumbs_down"></button>
        </p>
        <div>
          <button id="increment_explanation">Show another</button>
          <button id="revise_explanation">Revise mine</button>
          
        </div>    
      </div>
      
    </div>

    <div id="understanding" class="dialog_section">
      <p>Do you understand the uncovered work?</p>
      <input type="checkbox" name="understand" id="understand"><label for="understand">I understand the expert's work.</label><br>
      <input type="checkbox" name="differently" id="differently"><label for="differently">I would do it differently.</label><br>
      <input type="checkbox" name="bookmark" id="bookmark"><label for="bookmark">Review this problem later.</label>
    </div>
    
    <div id="continue" class="dialog_section">
      <button id="step_understood_btn" class="advance_step">Continue</button>
    </div>
      
  </div>


  <div id="done" class="right-box">
    <p>All done.</p>
    
    <p>Your stats:</p>
    <div id="post_question_stats" style="border: dashed black 3px; background-color: lightGrey; height: 10em">
    </div>
    
    <button>Try another similar question.</button>
    <br>
    <%= link_to 'Back to list of problems', problems_path %>
  </div>
  
</div>
