<script type="text/javascript" charset="utf-8">
$(function() {
  options = { try_solving: true, // FIXME pull try_solving from an attr of current_user
              problem: <%= @problem.to_json.html_safe -%>,
              elaboration: <%= @elaboration.to_json().html_safe -%>,
              steps: <%= @elaboration.steps.to_json().html_safe -%> }
  window.router = new Salved.Routers.AnswerRouter(options);
  Backbone.history.start();
});
</script>

<div id="prototype">
  
  <div id="problem">


    <div id="bookmark">
      <a href="#" id="problem_bookmark" class="star-off" title="Star to review later">review</a>
    </div>

    
    <img id="work_shown" src=""> <!-- set by Javascript -->
    
  </div>
  
  <div id="prompt" class="right-box">
    <p class="hovertip" title="Can you do it?">Try solving the problem at left on your paper.  <a class="hovertip-cue">[?]</a></p>
    <textarea name="justification" placeholder="Why is your work correct?"></textarea>
    
    <button id="work_check" class="advance_problem">Check my work</button>
    <button id="work_help" class="advance_problem">Get help</button>
  </div>
  
  <div id="work-check" class="right-box">
    <p>At left is an expert's work.<br>Is your work right?</p>

    <button class="record-check" id="same">Yes and similar.</button><br>
    <button class="record-check" id="different">Yes but different.</button><br>
    <button class="record-check" id="partly">Partly right.</button><br>
    <button class="record-check" id="not">Not at all.</button>
  </div>
  
  <div id="dialog" class="right-box">
    
    <div id="explanations">
      
      <div id="write_explanation" class="dialog_section">
        <div id="why">
          <p class="hovertip" title="Explaining to yourself helps you learn better and can help your classmates too when you share.">Why did the expert do this? <a class="hovertip-cue" >[?]</a></p>
          <textarea name="explanation"></textarea>
          <a href="#" id="paste_justification">paste earlier justification</a>
          <span id="privacy_choice"><input type="checkbox" name="private" id="private" value="check"><label for="private">don't share</label></span>
        </div>
        &nbsp;
        <div id="rate_own">
          <p class="hovertip" title="This helps you keep track of your explanations and improves the explanation pool.">How good is your explanation? <a class="hovertip-cue" >[?]</a></p>
          <button class="show_prior" id="poor">Poor</button>
          <button class="show_prior" id="good">Good</button>
          <button class="show_prior" id="very_good">Very good</button>
        </div>
      </div>
    
      <div id="read_explanations">
        <p id="prior_explanation">&lt;PRIOR EXPLANATION&gt;</p>
        <p class="guidance">Does this help you?
          <button id="thumbs_up"></button><button id="thumbs_down"></button>
        </p>
        <div>
          <button id="increment_explanation">Show another</button>
          <button id="revise_explanation">Revise mine</button>
          
        </div>    
      </div>
      
    </div>

    <div id="understanding" class="dialog_section">
      <p class="hovertip" title="This helps you keep track of your progress and improves the explanation pool.">Do you understand the uncovered work? <a class="hovertip-cue">[?]</a></p>
      <button id="understand_not_btn" class="advance_step">Not yet</button>
      <button id="understand_yes_btn" class="advance_step">Yes</button>
      <!-- <input type="checkbox" name="understand" id="understand"><label for="understand">I understand the expert's work.</label><br>
      <input type="checkbox" name="differently" id="differently"><label for="differently">I would do it differently.</label><br>
      <input type="checkbox" name="bookmark" id="bookmark"><label for="bookmark">Review this problem later.</label>
    </div>
    
    <div id="continue" class="dialog_section">
      <button id="step_understood_btn" class="advance_step">Continue</button> -->
    </div>
      
  </div>

  <div id="feedback" class="right-box">
    <p>Almost done…</p>
    
    <p>How hard was this problem?</p>
    <input type="radio" name="difficulty_9pt" value="1" id="difficulty_1"><label for="difficulty_1">1: extremely easy</label><br>
    <input type="radio" name="difficulty_9pt" value="2" id="difficulty_2"><label for="difficulty_2">2: very easy</label><br>
    <input type="radio" name="difficulty_9pt" value="3" id="difficulty_3"><label for="difficulty_3">3: easy</label><br>
    <input type="radio" name="difficulty_9pt" value="4" id="difficulty_4"><label for="difficulty_4">4: somewhat easy</label><br>
    <input type="radio" name="difficulty_9pt" value="5" id="difficulty_5"><label for="difficulty_5">5: neither easy nor difficult</label><br>
    <input type="radio" name="difficulty_9pt" value="6" id="difficulty_6"><label for="difficulty_6">6: somewhat difficult</label><br>
    <input type="radio" name="difficulty_9pt" value="7" id="difficulty_7"><label for="difficulty_7">7: difficult</label><br>
    <input type="radio" name="difficulty_9pt" value="8" id="difficulty_8"><label for="difficulty_8">8: very difficult</label><br>
    <input type="radio" name="difficulty_9pt" value="9" id="difficulty_9"><label for="difficulty_9">9: extremeley difficult</label><br>
    
    <textarea name="note_to_self" placeholder="Notes to yourself…"></textarea>
    
    <textarea name="note_to_instructor" placeholder="Notes to the instructor…"></textarea>
    
    <button id="difficulty_rated_btn" class="finish_problem">Finish</button>
    
  </div>

  <div id="summary" class="right-box">
    <p>All done.</p>
    
    <p>Your stats:</p>
    <div id="post_question_stats">
      <h5>Work matched</h5>
      <table>
        <tr><td>Step 1</td><td>Yes</td></tr>
        <tr><td>Step 2</td><td>Different</td></tr>
        <tr><td>Step 3</td><td>Partly</td></tr>
        <tr><td>Step 4</td><td>Yes</td></tr>
        <tr style="border-top: 1px solid black"><td>Overall</td><td>50% yes</td></tr>
      </table>
      
      <h5>Understood</h5>
      <table>
        <tr><td>Step 1</td><td>Yes</td></tr>
        <tr><td>Step 2</td><td>Not yet</td></tr>
        <tr><td>Step 3</td><td>Not yet</td></tr>
        <tr><td>Step 4</td><td>Yes</td></tr>
        <tr style="border-top: 1px solid black"><td>Overall</td><td>50% yes</td></tr>
      </table>
      
      <h5>Time spent on this problem</h5>
      <table>
        <tr><td>Step 1</td><td>3 minutes</td></tr>
        <tr><td>Step 2</td><td>1 minute</td></tr>
        <tr><td>Step 3</td><td>2 minutes</td></tr>
        <tr><td>Step 4</td><td>1 minute</td></tr>
        <tr style="border-top: 1px solid black"><td>Overall</td><td>7 minutes</td></tr>
      </table>
      
    </div>
    
    <button>Try another similar question.</button>
    <br>
    <%= link_to 'Back to list of problems', problems_path %>
  </div>
  
</div>
