<script type="text/javascript" charset="utf-8">
  
// author the interaction through data structures
question_dir = '<%= @problem.filesPath %>';
stepCount = 4;
var explanations = new Array(stepCount);
  
explanations[1] = new Array("This has a triple bond and a pair of electrons per Phosphorus. This is because each Phosphorus has 5 valence electrons and shares 3 of those with the other so that they each have a happy 8.");
  
explanations[2] = new Array("The expert is writing out an equation for the experiment, to show the heat released when the bonds are broken.");

explanations[3] = new Array("there are 6 bonds contained in the P4 structure, these must be broken to get to the p2 structure", "they just describe what happens in this reaction using their words like a big boy.","It's showing that if you break P4, you are breaking six single bonds, and the total energy equals the bond energy of a single bond times six." );  
explanations[4] = new Array("the total energy in this equation is equal to bonds formed - bonds broken.  The bonds formed (two triple bonds) minus bonds broken (six single bonds).  This total energy equals the heat released during the reaction (-200).")   

// set up env
currentStep = 0;
currentExplanation = 0;
imageList = stepImages(question_dir, stepCount, extension=".gif");

</script>

<div id="prototype">
  
  <div id="problem">
    
    <img id="work_shown" src=""> <!-- set by Javascript -->
    
  </div>
  
  <div id="prompt" class="right-box">
    <p>Try reaching a complete solution to the problem at left.</p>
    <button id="work_finished" class="advance_problem">Finished it</button>
    <button id="work_stuck" class="advance_problem">Got stuck</button>
    <button id="work_lost" class="advance_problem">No idea</button>
  </div>
  


  <div id="done" class="right-box">
    <p>All done.</p>
  </div>
  
  <div id="dialog" class="right-box">
    
    <div id="check">
      <div id="explain" class="dialog_section">
        <p>Try to explain this step:</p>
        <textarea name="explanation"></textarea>
      </div>
      
      <div id="useful" class="dialog_section">
        <p>How useful is your explanation?</p>
        <input type="radio" name="useful" value="share" id="good_to_share">
        <label for="good_to_share">Good enough to share</label><br>
        <input type="radio" name="useful" value="me" id="good_for_me">
        <label for="good_for_me">Good for me</label><br>
        <input type="radio" name="useful" value="not" id="not_good">
        <label for="not_good">Not good</label>
      </div>      

      <div id="match" class="dialog_section">
        <p>Does your work match this?</p>
        <input type="radio" name="match" value="yes" id="yes_match">
        <label for="yes_match">Yes</label><br>
        <input type="radio" name="match" value="no" id="no_match">
        <label for="no_match">No</label><br>
        <input type="radio" name="match" value="fine" id="fine_match">
        <label for="fine_match">Mine's fine</label>
        
      </div>
      
      <div id="help_supplement" class="supplement dialog_section">
        <p id="prior_explanation">&lt;PRIOR EXPLANATION&gt;</p>
        <p class="guidance">Is this helpful?</p>
        <div>
          <button class="thumbs_up"></button><button class="thumbs_down"></button>
                <button id="increment_explanation">Show another</button>
        </div>
        
        <p class="guidance">Try revising your explanation.</p>
        
        
        <button id="step_stop_btn" class="advance_step">Hold off</button>
        <button id="step_confused_btn" class="advance_step">Little confused</button>
        
      </div>

      <div id="mine_supplement" class="supplement dialog_section">
        <p>Why does yours also work?</p>
        <textarea name="mine_explanation"></textarea>
        
      </div>
      
      <div id="continue" class="dialog_section">
        <button id="step_understood_btn" class="advance_step">I understand this</button>
      </div>
    </div>
    
  </div>


</div>
