<h1>Salved problems</h1>

<div id="blurb">
  <p>This tool is designed to help you learn more in less time. Cognitive science in recent years has discovered that working through examples step-by-step and explaining lead to deeper and more robust learning.</p>

<p>Working through these problems will take a some more time than simply reading the solutions but you will get much more out of the time. Simply reading solutions can actually be counter-productive to learning. That's why we made this tool, to make it easier to study in this more effective way.</p>

<p>To start, just click on a problem below. Try solving the problem shown. If you're done or want help, click the appropriate button. When prompted for an explanation, take the time to think and describe why. You'll learn the most by following the prompts and not simply clicking ahead.</p>
</div>

<table>
  <tr>
    <th>Problem (click to answer)</th>
    <th>Step count</th>
  </tr>

<% @problems.each do |problem| %>
  <tr>
    <td><%= link_to problem.label, answer_problem_path(problem) %></td>
    <td><%= problem.step_count %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Problem', new_problem_path %>
