<h1>New problem</h1>

<form id="new-problem" name="problem">
  <div class="field">
    <label for="label"> label:</label>
    <input type="text" name="label" id="label" value=<%= label %> >
  </div>

  <div class="field">
    <label for="step_count"> step_count:</label>
    <input type="text" name="step_count" id="step_count" value=<%= step_count %> >
  </div>

  <div class="actions">
    <input type="submit" value="Create Problem" />
  </div>

</form>

<a href="#/index">Back</a>