// Place all the styles related to the Problems controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

form.edit_problem {
  input[type=number],select {
    font-size: x-large;
  }
  input[type=text] {
    width: 40em;
  }
}

body.problems {
  // Place scoped styles here

  background: #fff url(bg-grid.png) repeat top left;
  color: #444;

  h1 {
    text-align: center;
  }

  div#blurb {
    background-color: #EEE;
    margin: 1em auto;
    padding: 1em;
    border: solid black 4px;
    width: 40em;
  }
  
  div.right-box {
    width: 260px;
    border: 3px inset #999;
    padding: 4px;
    position: fixed;
    right: 0;
    top: 0;    
    p {
      font-family: "Reenie Beanie", "Comic Sans", "MS Comic Sans", "Tahoma", sans-serif;
      font-size: x-large;
    }

    label, button {
      font-family: "Reenie Beanie", "Comic Sans", "MS Comic Sans", "Tahoma", sans-serif;
      font-size: large;
    }
    
    button.advance_problem, button.record-check {
      font-size: xx-large;
      padding: .7em .4em;
      display: block;
      margin: .3em auto;
    }
  }

  // hidden at start
  #work-check, #dialog, #done {
    display: none;
  }

  button#thumbs_up {
    background: transparent url(thumbs-up.png) no-repeat top left;
    background-size: 1em;
    width: 1.5em;
    height: 1.5em;
  }
  button#thumbs_down {
    background: transparent url(thumbs-down.png) no-repeat top left;
    background-size: 1em;
    width: 1.5em;
    height: 1.5em;
  }

  #dialog {
    p {
      font-size: x-large;
      margin: 0;
    }

    p.guidance {
      font-size: medium;
    }

    .dialog_section {
      margin: 0 0 1em 0;
    }
    
    #explanations {
      
      height: 240px;
      border-bottom: dotted gray;
      
      #privacy_choice {
        text-align: right; font-size: medium;
        label {
          font-weight: normal;
        }
      }

      
    }
    
    #understanding {
      p {
        margin: 0.5em auto;
      }
      
      label {
        font-weight: normal;
        font-size: large;
      }
      
    }

    textarea {
      width: 250px;
      height: 80px;
    }
    
    button {font-size: x-large;}

    .supplement {
      display: none;
      margin: .4em 0;
      padding: 0;
      height: 15em;
    }

    p#prior_explanation {
      background-color: #BFB;
      padding: 4px;
      font: small "Arial", Helvetica, Verdana, sans-serif;
    }

    #continue {text-align: center; margin: 1em 0 0 0;}
    button.advance_step {font-size: x-large; padding-top: 0.3em}
  }
}